.error {
  color: red;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#signUpForm button {
  width: 100%;
}
