.spotDetailContent {
  max-width: 1000px;
  margin: 0 auto;
}
.toBoldHeading {
  font-weight: bolder;
  font-size: 20px;
}
.spotImages {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5px;
}

.largerImage {
  width: 100%;
  height: 430px;
  border-radius: 30px 0px 0px 30px;
}

.otherImages {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2px;
  width: 99%;
}

.smallerImages {
  width: 99%;
  height: 212px;
}

.smallerImages.image1,
.smallerImages.image3 {
  border-radius: 0px;
}

.smallerImages.image2 {
  border-radius: 0px 30px 0px 0px;
}

.smallerImages.image4 {
  border-radius: 0px 0px 30px 0px;
}

li {
  list-style-type: none;
}

.secondContent {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.description {
  width: 600px;
}

.descriptionPara {
  white-space: pre-wrap;
  line-height: 24px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.reserveBox {
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 300px;
  margin-left: 15px;
}

.reserveBoxLineOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.reserveBoxLineOne h3 {
  margin: 0 auto;
}
.reserveButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserveButton {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  background-color: #0052ff;
  border-color: white;
}
.reserveButtonBox {
  width: 180px;
}
.toCenter {
  margin: 0 auto;
}
.toCenter.larger {
  font-size: 19px;
}
.reviewsContainer {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid lightgrey;
}

.reviewsFirstLine {
  margin-top: 10px;
}
.toBold {
  font-weight: bolder;
  font-size: 18px;
}
.individualReview {
  margin-top: 10px;
}
.reviewSentences {
  overflow-wrap: break-word;
}

.postReviewButtonEffect {
  background-color: #0052ff;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.deleteReviewButtonEffect {
  margin-top: 5px;
  background-color: pink;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  border-color: white;
}

@media screen and (max-width: 1000px) {
  .spotDetailContent {
    max-width: max-content;
    margin: 0 auto;
  }
  .spotImages {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    gap: 3px;
  }

  .previewSpotImage {
    margin-right: 10px;
  }

  .largerImage,
  .smallerImages.image2,
  .smallerImages.image4 {
    border-radius: 0px;
  }

  .otherImages {
    row-gap: 2px;
    column-gap: 2px;
  }

  .secondContent {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;
  }

  .description {
    width: 100%;
  }
}
