.spots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  list-style-type: none;
  margin-right: 50px;
  margin-top: 100px;
}

img {
  width: 500px;
  height: 400px;
  /* box-sizing: border-box; */
  border-radius: 10%;
}

.spotLineOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
