.spotDetailContent {
  max-width: 1000px;
  margin: 0 auto;
}
.toBoldHeading {
  font-weight: bolder;
  font-size: 20px;
}
.spotImages {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
}

.largerImage {
  width: 100%;
  height: 430px;
}

.otherImages {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5px;
  row-gap: 5px;
}

.smallerImages {
  width: 100%;
  height: 210px;
}

li {
  list-style-type: none;
}

.secondContent {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.reserveBox {
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 300px;
}

.reserveBoxLineOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.reserveBoxLineOne h3 {
  margin: 0 auto;
}
.reserveButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserveButton {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  background-color: lightgray;
}
.reserveButtonBox {
  width: 180px;
}
.toCenter {
  margin: 0 auto;
}
.toCenter.larger {
  font-size: 19px;
}
.reviewsContainer {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid lightgrey;
}

.reviewsFirstLine {
  margin-top: 10px;
}
.toBold {
  font-weight: bolder;
  font-size: 18px;
}
.individualReview {
  margin-top: 10px;
}

.postReviewButtonEffect {
  background-color: rgb(81, 81, 251);
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.deleteReviewButtonEffect {
  margin-top: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .spotDetailContent {
    max-width: max-content;
    margin: 0 auto;
  }
  .spotImages {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    gap: 10px;
  }
}
