.rating-input {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
  justify-content: center;
}

.rating-input .filled {
  color: blue;
}

.rating-input .empty {
  color: gray;
}

.errors {
  color: red;
}

#createReviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitReviewButton {
  display: flex;
  justify-content: center;
}
