.nav.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/* .fas.fa-user-circle {
  
} */

.hidden {
  display: none;
}

.ProfileButton {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
