.nav.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.SignUpButton {
  margin-left: 20px;
  margin-right: 20px;
}

.hidden {
  display: none;
}

.ProfileButton {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logoutButton {
  width: 63px;
  height: 30px;
}
