.error {
  color: red;
}

#logInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#logInContainer input {
  width: 300px;
}

.normalLogInButton {
  margin: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #00ccff;
  border-color: white;
  color: white;
}
.normalLogInButton.disabled {
  margin: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #afe9f8;
  color: white;
}
.demoUserLogIn {
  background-color: white;
  margin: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  color: #00ccff;
  border-color: white;
}
