.error {
  color: red;
}

#logInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#logInContainer input {
  width: 300px;
}

#logInContainer button {
  margin: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #00ccff;
  border-color: white;
}
